<!DOCTYPE html>
<html>
  <head>
    <title>QuoteEditor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main class="container relative pb-14">
      <div class="flex gap-2 justify-between mt-4 mb-7">
        <div class="flex">
          <div class="md:hidden">
            <%= yield :main_title %>
          </div>
          <div class="hidden md:flex">
            <%= render "application/menu" %>
          </div>
        </div>
        <% if controller_name != 'categories' %>
          <%= button_link "New Quote", new_quote_path, turbo_frame: dom_id(Quote.new) %>
        <% else %>
          <%= button_link "New Category", new_category_path %>
        <% end %>
      </div>
      <%= yield %>
      <div class="md:hidden fixed bottom-0 left-0 right-0 bg-white border-t">
        <div class="flex divide-x items-stretch justify-stretch">
          <%= render "application/menu" %>
        </div>
      </div>
    </main>
  </body>
</html>
